<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net452" />
  <package id="NUnit" version="3.7.1" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.30" targetFramework="net452" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.16.1" targetFramework="net452" />
</packages>